<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
      layout:decorate="~{layout/layout1}" >

<div layout:fragment="content">

    <div class="panel-heading"><h3>Post list</h3></div>

    <div class="panel-body">

        <!-- content -->
        <div th:with="result=${postList.result}">

            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                    <th>post id</th>
                    <th>title</th>
                    <th>writer</th>
                    <th>register date</th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd gradeX" th:each="post : ${postSimpleDtos}">
                    <td>[[${post.id}]]</td>
                    <td><a th:href="@{/posts/{id} (id=${post.id})}" class="boardLink">[[${post.title}]]</a></td>
                    <td>[[${post.nickname}]]</td>
                    <td class="center" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>

<!--            <ul class="list-group">-->
<!--                <li class="list-group-item " th:each="post : ${result.content}">[[${post}]]</li>-->
<!--            </ul>-->

        </div>

        <!-- paging -->
        <nav>
            <div>
                <ul class="pagination">
                    <li class="page-item" th:if="${postList.prevPage}">
                        <a th:href="${postList.prevPage.pageNumber} + 1">PREV [[${result.prevPage.pageNumber} + 1]]</a>
                    </li>
                    <li class="page-item" th:classappend="${p.pageNumber == postList.currentPageNum - 1} ? active : ''"
                        th:each="p : ${postList.pageList}">
                        <a th:href="${p.pageNumber}">[[${p.pageNumber} + 1 ]]</a>
                    </li>
                    <li class="page-item" th:if="${postList.nextPage}">
                        <a th:href="${postList.nextPage.pageNumber} + 1">NEXT [[${postList.nextPage.pageNumber} + 1]]</a>
                    </li>
                </ul>
            </div>
        </nav>
    <!-- end page display -->

        <form id="f1" th:action="@{posts}" method="get">
            <input type="hidden" name="page" th:value="${postList.currentPageNum}">
            <input type="hidden" name="size" th:value="${postList.currentPage.pageSize}">
        </form>
    </div>
    <!-- end panel -->
</div>
<!-- end fragment -->

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function () {
            var formObj = $("#f1");
            $(".pagination a").click(function (e) {
                e.preventDefault();
                formObj.find('[name="page"]').val($(this).attr('href'));
                formObj.submit();
            });
        });
    </script>
</th:block>

</html>